<ion-view view-title="Class List">
  <ion-content>
    <ion-list>
        <label class="item">
          <button class="button button-block button-assertive" onclick="location.href='#/app/createclass';">Add Class</button>
        </label>
    </ion-list>
  </ion-content>
</ion-view>

