<ion-view view-title="Create Class">
  <ion-content>
    <ion-list>
        <label class="item item-input item-floating-label">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="First Name">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Last Name</span>
            <input type="text" placeholder="Last Name">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="text" placeholder="Email">
        </label> 
        
        <label class="item">
          <button class="button button-block button-assertive" type="submit">Create</button>
        </label>
    </ion-list>
  </ion-content>
</ion-view>

