<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <div class="button-bar">
           <a class="button button-positive">Log in</a>
           <button class="button button-light" onclick="location.href='#/app/register';">Register</button>
          </div>
        </label>
        <!--<label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Register</button>
        </label>
        -->
      </div>
    </form>
  </ion-content>
</ion-modal-view>
