<ionview>
  <ion-header-bar>
    <h1 class="title">Register</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item item-input">
            <span class="input-label">Confirm Password</span>
            <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <div class="button-bar">
           <a class="button button-light">Register</a>
          </div>
        </label>
        <!--<label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Register</button>
        </label>
        -->
      </div>
    </form>
  </ion-content>
</ion-view>
